body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* ---- button ---- */

.button-blue {
    display: inline-block;
    padding: 0.5em 1.0em;
    background: #EEE;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    text-shadow: 0 1px white;
    cursor: pointer;
}

    .button-blue:hover {
        background-color: #8CF;
        text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
        color: #222;
    }

    .button-blue:active,
    .button-blue.is-checked {
        background-color: #28F;
    }

    .button-blue.is-checked {
        color: white;
        text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
    }

    .button-blue:active {
        box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
    }

    .button-blue:disabled {
        opacity: 0.3;
    }

.button-red {
    display: inline-block;
    padding: 0.5em 1.0em;
    background: #EEE;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    text-shadow: 0 1px white;
    cursor: pointer;
}

    .button-red:hover {
        background-color: #FBB;
        text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
        color: #222;
    }

    .button-red:active,
    .button-red.is-checked {
        background-color: #F44;
    }

    .button-red.is-checked {
        color: white;
        text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
    }

    .button-red:active {
        box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
    }

    .button-red:disabled {
        opacity: 0.3;
    }
/* ---- button-group ---- */

.button-group {
    margin-bottom: 20px;
}

    .button-group:after {
        content: '';
        display: block;
        clear: both;
    }

    .button-group button {
        float: left;
        border-radius: 0;
        margin-left: 0;
        margin-right: 1px;
    }

        .button-group button:first-child {
            border-radius: 0.5em 0 0 0.5em;
        }

        .button-group button:last-child {
            border-radius: 0 0.5em 0.5em 0;
        }

/* ---- isotope ---- */

.grid {
    border: 1px solid #333;
}

    /* clear fix */
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }

/* ---- .element-item ---- */

.element-item {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 10px;
    background: #888;
    color: #262524;
}

    .element-item > * {
        margin: 0;
        padding: 0;
    }

    .element-item .name {
        position: absolute;
        left: 10px;
        top: 60px;
        text-transform: none;
        letter-spacing: 0;
        font-size: 12px;
        font-weight: normal;
    }

    .element-item .grade {
        position: absolute;
        left: 10px;
        top: 0px;
        font-size: 42px;
        font-weight: bold;
        color: white;
    }

    .element-item .repeats {
        position: absolute;
        right: 8px;
        top: 5px;
    }

    .element-item .rating {
        position: absolute;
        left: 10px;
        top: 76px;
        font-size: 12px;
    }

    .element-item.V12 {
        background: #F00;
        background: hsl( 0, 100%, 50%);
    }

    .element-item.V11 {
        background: #F80;
        background: hsl( 36, 100%, 50%);
    }

    .element-item.V10 {
        background: #FF0;
        background: hsl( 72, 100%, 50%);
    }

    .element-item.V9 {
        background: #0F0;
        background: hsl( 108, 100%, 50%);
    }

    .element-item.V8 {
        background: #0F8;
        background: hsl( 144, 100%, 50%);
    }

    .element-item.V7 {
        background: #0FF;
        background: hsl( 180, 100%, 50%);
    }

    .element-item.V6 {
        background: #08F;
        background: hsl( 216, 100%, 50%);
    }

    .element-item.V5 {
        background: #F0F;
        background: hsl( 288, 100%, 50%);
    }

    .element-item.V4 {
        background: #F08;
        background: hsl( 324, 100%, 50%);
    }

    .element-item.selected {
        border: 5px solid #8F8;
    }
